@page "/reports/{Id:int}"
@inject Backend Backend
@inject ILogger<Backend> Logger
@inject NavigationManager Nav

    <div class="page container">
        @if (_report == null)
        {
            <p><em>Загрузка...</em></p>
        }
        else
        {
            <h1>@_report.Title</h1>
            <button class="btn btn-primary"
                    @onclick="@(e => Nav.NavigateTo($"/reports/{Id}/edit"))">
                <span class="oi oi-pencil" aria-hidden="true"></span> Изменить
            </button>
            <MarkdownComponent MarkdownRaw="@_report.Description" />
            <hr>
            <ReportParametersComponent Report="@_report" Run="@_run" />
            <hr>
            <div>
                <button class="btn btn-primary">
                    <span class="oi oi-media-play" aria-hidden="true"></span> Выполнить запрос
                </button>
            </div>
        }
    </div>


@code {

    [Parameter]
    public int Id { get; set; }

    private ServerResponse<ReportConfiguration> _serverResponse;
    private ReportConfiguration _report = new ReportConfiguration();
    private ReportRun _run = new ReportRun();

    protected override async Task OnInitializedAsync()
    {
        var resp = await Backend.GetApiAsync<ReportConfiguration>($"reports/{Id}");
        _report = resp.Response;
    }

}
