@if (_response.Success && _response.Response?.ErrorText == null)
{
    <div class="alert alert-success">
        <h4 class="alert-heading">Запрос выполнен успешно</h4>
        <hr>
        @_response.Response.ReportTitle
        <hr>
        <span>Время выполнения: @TimeSpan.FromMilliseconds(_response.Response.GenerationTimeMs).ToString()</span>
        <hr>
        <span>Всего строк: @_response.Response.RowsCount</span>
        <hr>
        <span>_response.Response.FinalQuery</span>
    </div>
    @if (_response.Response.Columns != null)
    {
        <table class="table table-striped table-sm">
            <thead>
                <tr>
                    @foreach (var columnName in _response.Response.Columns)
                    {
                        <th>@columnName</th>
                    }
                </tr>
            </thead>
            <tbody>
                @foreach (var row in _response.Response.PreviewValues)
                {
                    <tr>
                        @foreach (var item in row)
                        {
                            <td class="trim-td">@item</td>
                        }
                    </tr>
                }
            </tbody>
        </table>
    }
}
else
{
    <div class="alert alert-danger sql-error">
        <h4 class="alert-heading">Ошибка при выполнении запроса</h4>
        <hr>
        @_response.ErrorText@_response.Response?.ErrorText
    </div>
}

@code {

    [CascadingParameter]
    ModalParameters Parameters { get; set; }

    ServerResponse<ReportResponse> _response;

    protected override async Task OnInitializedAsync()
    {
        _response = Parameters.Get<ServerResponse<ReportResponse>>("ReportResponse");
    }
}
